<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- TODO link css --}}
</head>

<body>
    {{!-- NAV BAR --}}
    <nav>
        <ul>
            <li>
                <p><a href="/">Home</a></p>
            </li>
            {{#if loggedIn}}
                <li>
                    <p><a href="/dashboard">Dashboard</a></p>
                </li>
                <li>
                    <p><button id="logout-btn">Logout</button> </p>
                </li>
            {{else}}
                <li>
                    <p><a href="/login">Dashboard</a></p>
                </li>
                <li>
                    <p><a href="/login">Login</a></p>
                </li>
            {{/if}}
        </ul>
    </nav>

    {{{body}}}
    {{!-- TODO link js --}}
</body>

</html>