<div>
    <form>
        <h3>Edit Post</h3>
        <div>
            <label for="title-input">Title</label>
            <input id="title-input" type="text">
        </div>
        <div>
            <label for="content-input">Content:</label>
            <input type="input" id="content-input" />
        </div>
        <div>
            <button type="submit" id="create-btn">Edit</button>
        </div>
    </form>
</div>
{{!-- link front end js --}}