<link rel="stylesheet" href="./css/login.css">
<div>
    <form>
        <h3>Login</h3>
        <div>
            <label for="username">username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" id="login-btn">login</button>
        </div>
    </form>

    <form>
        <h3>Sign Up</h3>
        <div>
            <label for="username-signup">username:</label>
            <input id="username-signup" type="text">
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" id="signup-btn">signup</button>
        </div>
    </form>
</div>
{{!-- Load js login script --}}